<nav>
  <div class="logo">
    <h1><i class="fa fa-github" style="color:red"></i>&nbsp;<span class="span1">Github</span><span
        class="span2">Search</span> </h1>

  </div>
  <a routerLink="/my-home">Profile</a>
  <ul class="nav-links">

    <form class="form-inline my-2 my-lg-0" #userForm="ngForm">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter a Github User" aria-label="Search" name="username" [(ngModel)]="username">
        <button class="btn btn-outline-light my-2 mh-sm-o" type="submit" (click)="userProfile()" routerLink="../name-result" routerLinkActive="activeRoute">Search</button>

    </form>

  </ul>
</nav>
